<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div id='container'></div>

  <script> var serverPath = 'http://localhost:8080'; </script>
  <script src="./bundle.js"></script>

</body>
</html>
